.filter{
    width: 200px;
    
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-list-options{
    display: none;
    list-style-type: none;
}

.expanded {
    display: flex;
    flex-direction: column;
  }

  .filters-section{
    display: none;
  }

  .show-filter-section{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 20px;

  }

  @media screen and (max-width: 767px){
    .show-filter-section{
        display: none;
    }
  }

  .all-text{
    margin-top: 0;
    margin-bottom: 0;
  }

  .unselect-text{
    color: #BFC8CD;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
  }